nav.vertical_nav
  #js-menu.left_section.menu_left
    .left_section
      ul
        li.menu--item
          a.menu--link.active(href='index.html' title='Home')
            i.uil.uil-home-alt.menu--icon
            span.menu--label Home
        li.menu--item
          a.menu--link(href='live_streams.html' title='Live Streams')
            i.uil.uil-kayak.menu--icon
            span.menu--label Live Streams
        li.menu--item
          a.menu--link(href='explore.html' title='Explore')
            i.uil.uil-search.menu--icon
            span.menu--label Explore
        li.menu--item.menu--item__has_sub_menu
          label.menu--link(title='Categories')
            i.uil.uil-layers.menu--icon
            span.menu--label Categories
          ul.sub_menu
            li.sub_menu--item
              a.sub_menu--link(href='#') Development
            li.sub_menu--item
              a.sub_menu--link(href='#') Business
            li.sub_menu--item
              a.sub_menu--link(href='#') Finance &amp; Accounting
            li.sub_menu--item
              a.sub_menu--link(href='#.html') IT &amp; Software
            li.sub_menu--item
              a.sub_menu--link(href='#') Office Productivity
            li.sub_menu--item
              a.sub_menu--link(href='#') Personal Development
            li.sub_menu--item
              a.sub_menu--link(href='#') Design
            li.sub_menu--item
              a.sub_menu--link(href='#') Marketing
            li.sub_menu--item
              a.sub_menu--link(href='#') Lifestyle
            li.sub_menu--item
              a.sub_menu--link(href='#') Photography
            li.sub_menu--item
              a.sub_menu--link(href='#') Health &amp; Fitness
            li.sub_menu--item
              a.sub_menu--link(href='#') Music
            li.sub_menu--item
              a.sub_menu--link(href='#') Teaching &amp; Academics
        li.menu--item.menu--item__has_sub_menu
          label.menu--link(title='Tests')
            i.uil.uil-clipboard-alt.menu--icon
            span.menu--label Tests
          ul.sub_menu
            li.sub_menu--item
              a.sub_menu--link(href='certification_center.html') Certification Center
            li.sub_menu--item
              a.sub_menu--link(href='certification_start_form.html') Certification Fill Form
            li.sub_menu--item
              a.sub_menu--link(href='certification_test_view.html') Test View
            li.sub_menu--item
              a.sub_menu--link(href='certification_test__result.html') Test Result
            li.sub_menu--item
              a.sub_menu--link(href='http://www.gambolthemes.net/html-items/edututs+/Instructor_Dashboard/my_certificates.html') My Certification
        li.menu--item
          a.menu--link(href='saved_courses.html' title='Saved Courses')
            i.uil.uil-heart-alt.menu--icon
            span.menu--label Saved Courses
        li.menu--item.menu--item__has_sub_menu
          label.menu--link(title='Pages')
            i.uil.uil-file.menu--icon
            span.menu--label Pages
          ul.sub_menu
            li.sub_menu--item
              a.sub_menu--link(href='about_us.html') About
            li.sub_menu--item
              a.sub_menu--link(href='sign_in.html') Sign In
            li.sub_menu--item
              a.sub_menu--link(href='sign_up.html') Sign Up
            li.sub_menu--item
              a.sub_menu--link(href='sign_up_steps.html') Sign Up Steps
            li.sub_menu--item
              a.sub_menu--link(href='membership.html') Paid Membership
            li.sub_menu--item
              a.sub_menu--link(href='course_detail_view.html') Course Detail View
            li.sub_menu--item
              a.sub_menu--link(href='checkout_membership.html') Checkout
            li.sub_menu--item
              a.sub_menu--link(href='invoice.html') Invoice
            li.sub_menu--item
              a.sub_menu--link(href='career.html') Career
            li.sub_menu--item
              a.sub_menu--link(href='apply_job.html') Job Apply
            li.sub_menu--item
              a.sub_menu--link(href='our_blog.html') Our Blog
            li.sub_menu--item
              a.sub_menu--link(href='blog_single_view.html') Blog Detail View
            li.sub_menu--item
              a.sub_menu--link(href='company_details.html') Company Details
            li.sub_menu--item
              a.sub_menu--link(href='press.html') Press
            li.sub_menu--item
              a.sub_menu--link(href='live_output.html') Live Stream View
            li.sub_menu--item
              a.sub_menu--link(href='add_streaming.html') Add live Stream
            li.sub_menu--item
              a.sub_menu--link(href='search_result.html') Search Result
            li.sub_menu--item
              a.sub_menu--link(href='thank_you.html') Thank You
            li.sub_menu--item
              a.sub_menu--link(href='coming_soon.html') Coming Soon
            li.sub_menu--item
              a.sub_menu--link(href='error_404.html') Error 404
    .left_section
      h6.left_title SUBSCRIPTIONS
      ul
        li.menu--item
          a.menu--link.user_img(href='instructor_profile_view.html')
            img(src='../../assets/images/left-imgs/img-1.jpg' alt='')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Rock Smith
            .alrt_dot
        li.menu--item
          a.menu--link.user_img(href='instructor_profile_view.html')
            img(src='../../assets/images/left-imgs/img-2.jpg' alt='')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Jassica William
          .alrt_dot
        li.menu--item
          a.menu--link(href='all_instructor.html' title='Browse Instructors')
            i.uil.uil-plus-circle.menu--icon
            span.menu--label Browse Instructors
    .left_section.pt-2
      ul
        li.menu--item
          a.menu--link(href='setting.html' title='Setting')
            i.uil.uil-cog.menu--icon
            span.menu--label Setting
        li.menu--item
          a.menu--link(href='help.html' title='Help')
            i.uil.uil-question-circle.menu--icon
            span.menu--label Help
        li.menu--item
          a.menu--link(href='report_history.html' title='Report History')
            i.uil.uil-windsock.menu--icon
            span.menu--label Report History
        li.menu--item
          a.menu--link(href='feedback.html' title='Send Feedback')
            i.uil.uil-comment-alt-exclamation.menu--icon
            span.menu--label Send Feedback
    .left_footer
      ul
        li
          a(href='about_us.html') About
        li
          a(href='press.html') Press
        li
          a(href='contact_us.html') Contact Us
        li
          a(href='coming_soon.html') Advertise
        li
          a(href='coming_soon.html') Developers
        li
          a(href='terms_of_use.html') Copyright
        li
          a(href='terms_of_use.html') Privacy Policy
        li
          a(href='terms_of_use.html') Terms
      .left_footer_content
        p
          | &copy; 2020 
          strong Cursus
          | . All Rights Reserved.
    
    
